[MASTER]
persistent=no

[MESSAGES CONTROL]
disable=c-extension-no-member,
        invalid-name,
        missing-function-docstring,
        missing-module-docstring,
        redefined-outer-name,

[REPORTS]
score=no
